<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello!</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body class="bg-secondary text-white">
  <h3>Create a new trip, {{ user.first_name }}!</h3>
	{% if messages %}
    <ul class="messages list-group mt-3 alert alert-danger mb-3">
      {% for message in messages %}
      <li class="list-group-item" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
  <a href="/logout" class="btn btn-outline-light mt-3">Logout</a>

	<form action="/trip/create" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="destination">Destination</label>
                    <input type="text" name="destination" id="destination" class="form-control">
                </div>
                <div class="form-group">
                    <label for="start_date">Start Date</label>
                    <input type="date" name="start_date" id="start_date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="end_date">End Date</label>
                    <input type="date" name="end_date" id="end_date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="plan">Plan:</label>
                    <input type="plan" name="plan" id="plan" class="form-control">
                </div>
                <button class="btn btn-outline-light mt-3">Submit</button>
								<a href="/trip" class="btn btn-outline-light mt-3"> Cancel</a>
            </form>
</body>
</html>